table.ptresults, table.ptresults td, table.ptresults th, .pthinfot table, .pthinfot th, .pthinfot td {
	margin:0;
	padding:0;
	border-collapse:collapse;
	border-spacing:0;
	border:1px solid #B58813;
}
.pthinfot table, .pthinfot th, .pthinfot td {
	border:none;
}
table.ptresults {
	border-left:none;
	border-top:none;
	width:100%;
}
.pthinfot th, .pthinfot td {
	text-align:left;
	vertical-align:top;
	padding:6px;
	font-size:12px;
}
.pthinfot th {
	text-align:right;
}
.pthaddy {
	text-align:right;
}
table.ptresults td, table.ptresults th {
	border-right:none;
	border-bottom:none;
	text-align:left;
	vertical-align:top;
	padding:6px;
	background-color:#FFF;
	font-size:12px;
}
table.ptresults tr.ptresheader th, table.ptresults tr.ptresheader td {
	background-color:#F4E8AE;
	font-size:14px;
	font-weight:bold;
}
.ptextra {
	background-color:#008CCC;
	color:#FFF;
	padding:6px;
	margin:8px 0 0;
}
.ptsearch label {
	display:block;
	font-size:14px;
}
.ptsearch {
	width:100%;
	text-align:center;
	margin:0 auto;
}
.ptheader {
	width:100%;
	overflow:hidden;
	border-bottom:12px solid #7AB700;
	margin:0 0 6px;
}
.ptlogo {
	float:left;
	width:29%;
}
.pthinfo {
	float:right;
	width:69%;
}
.pti {
	padding:6px;
}
#refw, #statew, #councilw, #schemew, #zonew, #overlaysw, #planw, #submitw {
	padding:8px;
	margin:0;
}
#statew, #overlaysw {
	background-color:#C5FF80;
}
#councilw {
	background-color:#EED1A1;
}
#schemew {
	background-color:#CCC;
}
#zonew {
	background-color:#80FFFF;
}
#planw {
	background-color:#DFB3E2;
}
.ptsearch select, #refw input {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	*width:90%;
	_width:100%;
}
.ptsubp {
	padding:0 8px 8px 0;
}
.ptsubex {
	margin:8px 0 0;
}
.ptsubs {
	width:100%;
	overflow:hidden;
}
.ptsub1, .ptsubex4 {
	background-color:#CCC;
}
.ptsub2 {
	background-color:#C5FF80;
}
.ptsub3 {
	background-color:#80FFFF;
}
.ptsub4 {
	background-color:#DFB3E2;
}
.ptsubex3 {
	background-color:#F0D775;
}
.ptsubcost, .ptsubmonthly {
	font-size:28px;
	line-height:30px;
}
.ptsubcost span, .ptsubcost em, .ptsubmonthly span, .ptsubmonthly em, .ptsuboptitem em {
	font-size:14px;
	line-height:16px;
}
.ptsuboptitem span, .ptsuboptdes {
	font-size:18px;
	line-height:20px;
}
.ptsuboptitem {
	font-size:36px;
	line-height:38px;
}
.ptsubcost del {
	font-size:24px;
	line-height:26px;
}
.ptsubcost del span {
	font-size:12px;
	line-height:14px;
}
.ptsubcost span, .ptsubmonthly span, .ptsuboptitem span {
	vertical-align:text-top;
}
.ptsubsave {
	position:relative;
}
.ptsubsave img {
	position:absolute;
	left:8px;
	top:0;
}
.ptsubw {
	float:left;
	width:24%;
}
.ptsubi {
	padding:8px 8px 0;
}
.ptsubcost .ptsubi, .ptsubmonthly .ptsubi {
	padding-top:0;
}
.ptsubsave .ptsubi {
	padding-left:40px;
}
.ptsub, .ptsubex, .ptsubopt {
	text-align:center;
	font-size:12px;
	line-height:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#111;
}
.ptsub h3, .ptsub h4, .ptsubex h3, .ptsubex h4 {
	padding:0;
	margin:0;
}
.ptsubrep, .ptsubuser, .ptsubsup, .ptsubcostlab, .ptsubmonthlylab {
	border-top:1px solid #111;
}
.ptsubheader h3, .ptsubexheader h4, .ptsubexheader h3 {
	font-size:21px;
	line-height:23px;
	font-weight:normal;
	font-family:Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black",sans-serif;
}
.ptsubexheader h3 {
	color:#F00;
	font-family:Arial, Helvetica, sans-serif;
}
/*.ptsubheader, .ptsubrep, .ptsubuser, .ptsubsup, .ptsubcostlab, .ptsubcost, .ptsubmonthlylab, .ptsubmonthly {
	height:auto !important;
}*/
.ptsubheader {
	/*min-height:66px;*/
	height:66px;
}
.ptsubrep {
	/*min-height:48px;*/
	height:48px;
}
.ptsubuser, .ptsubsup {
	/*min-height:40px;*/
	height:40px;
}
.ptsubcostlab, .ptsubmonthlylab {
	/*min-height:36px;*/
	height:36px;
}
.ptsubcost, .ptsubmonthly {
	/*min-height:48px;*/
	height:48px;
}
.ptsubbutton .ptsubi, .ptsuboptbuttonc {
	padding:8px 20px 8px;
}
.ptsubbutton a, a .ptsuboptbutton {
	display:block;
	background-color:#008CCC;
	color:#FFF;
	font-weight:bold;
	padding:8px;
}
.ptsubbutton a:hover, a:hover .ptsuboptbutton {
	background-color:#0073AA;
}
.ptsubopt, span.ptsubi, .ptsuboptprices, .ptsuboptdes, .ptsuboptitem em, .ptsuboptbuttonc {
	display:block;
}
.ptsuboptprices {
	width:100%;
	overflow:hidden;
	margin:0 auto;
	max-width:400px;
}
.ptsubopt, a.ptsubopt {
	background-color:#A2CD4C;
	color:#000;
	text-decoration:none;
}
.ptsuboptitem {
	width:39%;
	float:left;
	text-align:center;
}
.ptsuboptor {
	width:19%;
	float:left;
	text-align:center;
	font-size:16px;
}
.noo-top-social #jj_sl_navigation {
	z-index:10002;
}
@media only screen and (max-width:992px) {
	.ptsubw {
		float:left;
		width:48%;
	}
}


.subscribeMail {
	width: 50%;
	margin: 0 auto;
}

._form {
  position:relative;
  background:#fff;
  width:400px;/*F*/
  padding:0!important;
  text-align:left;
  }
  ._form em {
  color:#9a9a9a;
  }
  ._form a {
  margin-left:3px;
  }
  ._form ._field,
  ._form ._field ._label,
  ._form ._type_radio,
  ._form ._type_checkbox,
  ._form ._type_captcha,
  ._form ._field table {
  background:none;
  }
  ._form ._field  {
  position:relative;
  width:100%;
  cursor:move;
  font-style:normal;
  margin:1.2em 0;
  padding:0;
  overflow:hidden;
  }
  ._form ._field input[type="text"] {
  width:100%;
  padding:8px;
  font-size:16px;
  border:1px solid #b6b6b6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  ._form ._field ._label {
  display:block;
  margin:0 0 0.5em;
  padding:0!important;
  font-size:15px;
  }
  ._form ._field ._option input[type="checkbox"],
  ._form ._field ._option input[type="radio"] {
  position:relative;
  width:13px;
  height:13px;
  margin:-4px 0 0 1px;
  cursor:pointer;
  vertical-align:middle;
  }
  ._form ._field ._option input[type="submit"],
  ._form ._field ._option input[type="button"] {
  margin:0;
  cursor:pointer;
  height:35px;
  width:auto;
  font-size:15px;
  }
  ._form ._field ._option select {
  display:block;
  margin:0;
  padding:0;
  width:auto;
  font-size:15px;
  border:1px solid #b6b6b6;
  }
  ._form ._type_radio ._option,
  ._form ._type_checkbox ._option {
  font-size:13px;
  font-weight:normal;
  line-height:1.8;
  }
  ._form ._type_date ._option input[type="text"] {
  float:left;
  width:100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  ._form ._type_date ._option input[type="button"] {
  width:37px;
  height:36px;
  margin-left:5px;
  padding:20px;
  background:url(https://propertease.activehosted.com/admin/css/../images/icon_calendar.gif) no-repeat 0 0;
  border:none;
  outline:none;
  text-indent:-9999px;
  }
  ._form ._type_captcha img {
  float:left;
  margin:0 6px 0 0;
  width:70px;
  height:33px;
  border:1px solid #b6b6b6;
  }
  ._form ._type_captcha input[type="text"] {
  margin:-14px 0 0 0!important;
  width:25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  ._form ._field table  {
  width:100%!important;
  }
  ._form ._field table tbody tr td  {
  width:50%!important;
  font-size:15px;
  }
  ._form {
  width:400px;/*F*/
  padding:10px 16px!important;
  background:#edeff4;
  color:#6e6e6e;
  font-weight:normal;
  border:1px solid #d1d1d1;
  border-bottom:1px solid #c5c5c5;
  text-shadow:1px 1px 1px #fff;
  }
  ._form #notice {
  margin:10px 0 0 -3px!important;
  padding:0;
  color:#a1a3a8;
  font-size:11px;
  font-family:helvetica,arial,sans-serif;
  }
  ._form #notice a:link, ._form #notice a:visited {
  color:#a1a3a8;
  text-decoration:underline;
  }
  ._form ._field,
  ._form ._field ._label,
  ._form ._type_radio,
  ._form ._type_checkbox,
  ._form ._type_captcha,
  ._form ._field table {
  background:none;
  }
  ._form ._field  {
  position:relative;
  width:100%;
  cursor:default;
  font-style:normal;
  margin:0 0 0.8em!important;
  padding:0!important;
  overflow:hidden;
  }
  ._form ._field input[type="text"],
  ._form ._field input[type="email"] {
  width:100%;
  margin:0!important;
  padding:4px!important;
  font-size:12px;
  background:#fff;
  border:1px solid #c9d4ed;
  border-top:1px solid #c0cbe3;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  ._form ._field ._label {
  margin:0 0 0.6em!important;
  color:#203360;
  font-size:12px;
  font-family:verdana,arial,sans-serif;
  font-weight:700;
  }
  ._form ._field ._option {
  margin:0;
  padding:0;
  color:#646464;
  font-size:13px;
  font-family:helvetica,arial,sans-serif;
  font-weight:normal;
  line-height:20px;
  }
  ._form ._type_header ._label {
  width:100%;
  font-style:normal;
  font-size:18px!important;
  line-height:24px;
  color:#203360;
  margin:0 0 5px!important;
  padding:0 0 10px!important;
  overflow:hidden;
  background:none;
  border-bottom:1px solid #e0e0e0;
  }
  ._form ._type_input ._option  textarea{
  width:98%!important;
  background:#fff;
  border:1px solid #c9d4ed;
  border-top:1px solid #c0cbe3;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  }
  ._form ._type_input ._option input[type="submit"],
  ._form ._type_input ._option input[type="button"] {
  width:auto;
  margin:10px 0 0!important;
  padding:2px 15px!important;
  cursor:pointer;
  font-family:verdana,arial,sans-serif;
  font-weight:700;
  font-size:12px;
  color:#fff;
  background:#72ac58 url(https://propertease.activehosted.com/admin/templates/form-themes/facebook/images/btn_bg.gif) repeat-x 0 0;
  border:1px solid #3b6e22;
  border-bottom:1px solid #2c5115;
  text-align:center;
  }
  ._form ._type_input ._option input[type="submit"]:hover,
  ._form ._type_input ._option input[type="button"]:hover {
  background:#689d51 url(https://propertease.activehosted.com/admin/templates/form-themes/facebook/images/btn_bg.gif) repeat-x 0 0;
  }
  ._form ._type_date ._option input[type="text"] {
  float:left;
  width:100px;
  }
  ._form ._type_radio {
  background:none;
  }
  ._form ._type_radio ._option label {
  display:inline;
  font-size:12px;
  font-weight:normal;
  line-height:22px;
  color:#646464;
  }
  ._form ._type_radio ._option label input[type="radio"] {
  position:relative;
  width:13px;
  height:13px;
  margin:-4px 0 0 1px!important;
  cursor:pointer;
  vertical-align:middle;
  border:none;
  }
  ._form ._type_date ._option input[type="button"] {
  width:27px;
  height:27px;
  margin:0 0 0 5px!important;
  padding:-2px 0 0!important;
  background:url(https://propertease.activehosted.com/admin/templates/form-themes/facebook/images/icon_calendar.png) no-repeat;
  border:none;
  outline:none;
  text-indent:-9999px;
  }
  ._form ._type_date ._option input[type="button"]:hover {
  background:url(https://propertease.activehosted.com/admin/templates/form-themes/facebook/images/icon_calendar.png) no-repeat;
  }
  ._form ._field ._option select {
  display:block;
  margin:0;
  padding:0;
  width:auto;
  font-size:12px;
  border:1px solid #c9d4ed;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  }
  ._form ._type_captcha img {
  float:left;
  width:88px;
  height:44px;
  margin:0 6px 0 0;
  border:1px solid #cecece;
  }
  ._form ._type_captcha input[type="text"] {
  float:left;
  margin:0!important;
  width:40%;
  font-size:12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  ._form ._field table {
  margin:0;
  padding:0;
  border-collapse:collapse;
  width:100%!important;
  table-layout:fixed;
  margin-bottom:18px;
  font-size:13px!important;
  border-collapse:collapse;
  border-spacing:0;
  }
  ._form ._field table td {
  padding:0 10px 0 0!important;
  line-height:18px;
  text-align:left;
  font-size:13px!important;
  color:#606060;
  }
  ._form ._type_input ._option  table tbody#_forward_rcpt input {margin:0 0 5px 0!important; width:96%!important;}
  ._form ._type_input ._option  table tbody#_forward_rcpt img.image_addrcpt {cursor:pointer;}
  .form_errors{
  text-align:center;
  font-size:15px;
  margin:10px;
  color:#900;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  margin-bottom:20px;
}